* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 440px;
    min-height: 300px;
    padding: 0;
    margin: 0;
}
body.loading .extra-information,
body.loading .previous-value,
body.loading .valuation:not(.total),
body.loading .refresh-storage {
    display: none;
}

body:not(.has-listing-price).has-detailed-valuation .total.valuation {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
body:not(.has-listing-price) .listing-comparison {
    display: none;
}
body.has-fetched-from-bca .refresh-storage {
    display: none;
}

.header {
    position: relative;
    padding-top: 9px;
    background-color: #28597C;
    height: 50px;
    padding-left: 28px;
}
.header .logo {
    margin: 0;
    display: inline-block;
}

.valuations {
    padding: 30px 0 30px 100px;
}

.valuation {
    position: relative;
}
.valuation .bullet {
    position: absolute;
    left: -30px;
    font-size: 20px;
    line-height: 28px;
}
.valuation .value-line {
    line-height: 28px;
}
.valuation .value {
    font-size: 18px;
}
.valuation .changes {
    display: inline-block;
    margin: 0 4px;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}
.valuation .positive.changes {
    color: #4DB690;
}
.valuation .negative.changes {
    color: #D44242;
}
.valuation .previous-value {
    color: #999;
    font-size: 14px;
}

.total.valuation .value {
    font-size: 30px;
    line-height: 40px;
}
.total.valuation .bullet {
    font-size: 48px;
    left: -60px;
    top: 0;
    line-height: 48px;
}

.total.valuation .refresh-icon {
    opacity: 30%;
    width: 16px;
    height: 16px;
    vertical-align: -3px;
}

.refresh-storage:hover {
    opacity: 60%;
}

.refresh-storage:active {
    opacity: 100%;
}

.unknown.valuation {
    display: none
}

.listing-comparison {
    position: relative;
    margin: 10px 30px 10px 0;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-width: 1px 0;
    line-height: 18px;
    font-size: 13px;
}
.total.valuation .listing-comparison .bullet {    
    left: -30px;
    font-size: 20px;
    line-height: 28px;
    top: 6px;
}

.listing-comparison:not(.fair) .fair,
.listing-comparison:not(.thinking) .thinking,
.listing-comparison:not(.greedy) .greedy,
.listing-comparison:not(.lower) .lower,
.listing-comparison:not(.equal) .equal,
.listing-comparison:not(.higher) .higher {
    display: none
}
.listing-comparison .difference {
    font-weight: bold;
}
.listing-comparison .fair.difference {
    color: #4DB690;
}
.listing-comparison .thinking.difference {
    color: #D48642;
}
.listing-comparison .greedy.difference {
    color: #D44242;
}
.listing-comparison .listing-price {
    font-size: 12px;
    color: #999;
}

.extra-information {
    color: #333;
    background: #eee;
    font-size: 14px;
    padding: 20px 30px;
}
.extra-item {
    display: flex;
    line-height: 22px;
}
.extra-item * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra-item .label {
    flex: 0 0 120px;
    font-size: 12px; 
    text-transform: uppercase;
}
.extra-item .value {
    flex: 0 1 100%;
}
.actions {
    margin-top: 10px;
}
.btn, .btn:visited {
    display: block;
    font-size: 14px;
    background: #ccc;
    padding: 4px 10px;
    border-radius: 8px;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.btn:hover, .btn:active {
    background: #28597C;
    color: white;
}
